{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
{% endblock %}
{% block body %}
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{{ url('home') }}">
                <img src="{{ asset('assets/img/things-cloud.svg') }}" width="40" height="40" alt="" loading="lazy">
            </a>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="upload-section col-lg-5 mt-2 mb-2">
                {{ form_start(uploadForm) }}
                    {{ form_row(uploadForm.allowed_mime_types) }}
                    {{ form_row(uploadForm.submit) }}
                {{ form_end(uploadForm) }}
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                <nav aria-label="Pagination" class="pagination_nav_menu">
                    <ul class="pagination pagination_nav_menu__list" data-item_count="{{ items_per_page }}">
                        <li class="pagination_nav_menu__item page-item disabled" data-pg_action="previous" data-target_page="0">
                            <span class="page-link" tabindex="-1">Previous</span>
                        </li>
                        <li class="pagination_nav_menu__item page-item" data-pg_action="next" data-target_page="2">
                            <span class="page-link">Next</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="grid">
            <div class="grid__body">
            {% for file in fileCollection %}
                <div class="grid__item">
                    <div class="file" data-toggle="modal" data-target="#preview-file_{{ file.getId }}">
                        <div class="file__image">
                            <img src="{{ asset(file.getPreviewPath) }}" alt="{{ file.getName }}" class="img-thumbnail">
                        </div>
                        <div class="file__name">
                            <span>{{ file.name }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {{ include('modals/preview.html.twig') }}
        {{ include('clone.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}