<div class="row">
    {% for file in fileCollection %}
        <div class="fade modal" id="preview-file_{{ file.getId }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="preview__iframe">
                            <iframe class="preview__iframe_responsive" src="{{ file.getFilePath }}"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>