.img-thumbnail {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}
.pagination_nav_menu {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 35px;
}
.pagination_nav_menu__item {
    cursor: pointer;
}
.grid {
    position: relative;
}
.grid__body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content 1fr;
}
.grid__item {
    text-align: center;
    cursor: pointer;
}
.grid__item:hover {
    background-color: #b9b9b9;
}
.grid__item_upload {
    text-align: left;
    margin: 30px;
}
.file {
    margin: 15px;
}
.file__name span {
    text-align: center;
}
.preview__iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
}
.preview__iframe_responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.clone__item .clone__modal {
    display: none;
}