<div class="row">
    <div class="clone__item">
        <div class="file" data-toggle="modal" data-target="">
            <div class="file__image">
                <img src="#" alt="" class="img-thumbnail">
            </div>
            <div class="file__name">
                <span></span>
            </div>
        </div>
    </div>
    <div class="fade clone__modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="preview__iframe">
                        <iframe class="preview__iframe_responsive" src="#"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>